@{
    ViewData["Title"] = "Home Page";
}

        <div class="ftco-blocks-cover-1">

            <div class="site-section-cover overlay">
                <div class="container">
                    <div class="row align-items-center ">
                        <div class="col-md-5 mt-5 pt-5">
                            <span class="text-cursive h5 text-red">Welcome To Our Website!</span>
                            <h1 class="mb-3 font-weight-bold text-teal">Learn how to hex your foes!</h1>
                            <p>The Wizarding World Welcomes You!</p>
                            <p class="mt-5"><a href="#" class="btn btn-primary py-4 btn-custom-1">Learn More</a></p>
                        </div>
                        <div>
                            <img src="~/images/img//HomePageImg.jpg" alt="Image" class="img-fluid">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="block-2 red">
                            <span class="wrap-icon">
                                <span class="icon-home"></span>
                            </span>
                            <h2>Mysterious Classes</h2>
                            <p>Learn how to make potions, transform into animals, and more!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="block-2 yellow">
                            <span class="wrap-icon">
                                <span class="icon-person"></span>
                            </span>
                            <h2>Outdoor Games : Quiddich!</h2>
                            <p>Come out, watch your favorite house and cheer for your own team! Quiddich is a fun, interactive game where tournaments take place yearly!</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="block-2 teal">
                            <span class="wrap-icon">
                                <span class="icon-cog"></span>
                            </span>
                    <h2>
                        The quinquennial Tri-Wizard Tournament!</h2>
                            <p>A really cool tournament where your life may or may not be on the line.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mb-5 mb-md-0">
                        <img src="~/images/img/Flying Class.jpg" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-md-5 ml-auto pl-md-5">
                        <span class="text-cursive h5 text-red">About Us</span>
                        <h3 class="text-black">Hogwarts : Your home away from home!</h3>
                        <p><span>We enlighten future witches and wizards with the knowledge to pass down magic for future generations to come. </span></p>

                        <p class="mt-5"><a href="#" class="btn btn-warning py-4 btn-custom-1">More About Us</a></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="site-section bg-info">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <span class="text-cursive h5 text-red d-block">First Year Students</span>
                        <h2 class="text-white">Things you will need!</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="package text-center bg-white">
                            
                            <h3 class="text-teal">Uniforms</h3>
                            <p>
                                <ul>
                                    <li>3 Sets of Work Clothes (Black)</li>
                                    <li>One Black Pointy Hat</li>
                                    <li>One Pair of protective gloves (Dragonhide, or a similar fabric)</li>
                                    <li>One Winter cloak with silver fastenings</li>
                                    Please note that all students clothing should carry nametags at all times!
                                </ul>
                                </p>
                            <p><a href="#" class="btn btn-primary btn-custom-1 mt-4">Learn More</a></p>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="package text-center bg-white">
                         
                            <h3 class="text-success">Books</h3>
                            <p><ul>
                                <li>The Standar Book of Spells, Grade 1 by Miranda Goshawk</li>
                                <li>A History of Magic by Bathilda Bagshot</li>
                                <li>Magical Theory by Adalbert Waffling</li>
                                <li>A Beginner's Guide to Transfiguration by Emeric Switch</li>
                                <li>One Thousand Magical Herbs and Fungi by Phyllida Spore</li>
                                <li>Magical Dragts and Potions by Arsenius Jigger</li>
                                <li>Fantastical Beasts and Where to Find Them by Newt Scamander</li>
                                <li>The Dark Forces: A Guide to Self Protection by Quentin Trimble</li>
                            </ul></p>
                            <p><a href="#" class="btn btn-warning btn-custom-1 mt-4">Learn More</a></p>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 mb-lg-0">
                        <div class="package text-center bg-white">
                            
                            <h3 class="text-danger">Other Equipment</h3>
                            <p>
                                <ul>
                                    <li>One Wand</li>
                                    <li>One Cauldron (Pewter, standard size)</li>
                                    <li>One Set of Glass of Crystal Phials</li>
                                    <li>One Telescope</li>
                                    <li>One set of Brass Scales</li>
                                    <li>A familiar of your choosing! An Owl, cat or toad!</li>
                                </ul>
                            </p>
                            <p><a href="#" class="btn btn-success btn-custom-1 mt-4">Learn More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       @* <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="text-cursive h5 text-red d-block">Pricing Plan</span>
                        <h2 class="text-black">Our Pricing</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo quis cupiditate fugit, voluptatibus ullam, non laboriosam alias veniam, ex inventore iure sed?</p>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing teal">
                            <span class="price">
                                <span>$30</span>
                            </span>
                            <h3>Silver Pack</h3>
                            <ul class="ul-check list-unstyled teal">
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Nemo quis cupiditate</li>
                            </ul>
                            <p><a href="#" class="btn btn-teal btn-custom-1 mt-4">Buy Now</a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing danger">
                            <span class="price">
                                <span>$70</span>
                            </span>
                            <h3>Golden Pack</h3>
                            <ul class="ul-check list-unstyled danger">
                                <li>Lorem ipsum dolor sit amet</li>
                                <li>Consectetur adipisicing elit</li>
                                <li>Nemo quis cupiditate</li>
                            </ul>
                            <p><a href="#" class="btn btn-danger btn-custom-1 mt-4">Buy Now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@

        <div class="site-section bg-light">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <span class="text-cursive h5 text-red d-block">Testimonial</span>
                        <h2 class="text-black">What Our Client Says About Us</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="testimonial-3-wrap">


                            <div class="owl-carousel nonloop-block-13">
                                <div class="testimonial-3 d-flex">
                                    <div class="vcard-wrap mr-5">
                                        <img src="~/images/person_1.jpg" alt="Image" class="vcard img-fluid">
                                    </div>
                                    <div class="text">
                                        <h3>Jeff Woodland</h3>
                                        <p class="position">Partner</p>
                                        <p>As a muggle, I learned how to preform magic! I really appreciate Hogwarts training me.</p>
                                    </div>
                                </div>

                                <div class="testimonial-3 d-flex">
                                    <div class="vcard-wrap mr-5">
                                        <img src="~/images/person_3.jpg" alt="Image" class="vcard img-fluid">
                                    </div>
                                    <div class="text">
                                        <h3>Azalda Wormfoot</h3>
                                        <p class="position">Partner</p>
                                        <p>This school isn't beneath me. Big surprise.</p>
                                    </div>
                                </div>

                                <div class="testimonial-3 d-flex">
                                    <div class="vcard-wrap mr-5">
                                        <img src="~/images/person_2.jpg" alt="Image" class="vcard img-fluid">
                                    </div>
                                    <div class="text">
                                        <h3>Petunia Wigglebottom</h3>
                                        <p class="position">Partner</p>
                                        <p>My favorite class is making potions, and learning all about the herbs that grow!</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row mt-5 justify-content-center">

                    <div class="col-md-8">


                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <span class="text-teal h2 d-block">3423</span>
                                <span>Happy Clients</span>
                            </div>
                            <div class="col-lg-3 text-center">
                                <span class="text-yellow h2 d-block">4398</span>
                                <span>Members</span>
                            </div>
                            <div class="col-lg-3 text-center">
                                <span class="text-success h2 d-block">50+</span>
                                <span>Staffs</span>
                            </div>
                            <div class="col-lg-3 text-center">
                                <span class="text-danger h2 d-block">2000+</span>
                                <span>Our Wizards/Witches</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="site-section py-5 bg-warning">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 d-flex">
                        <h2 class="text-white m-0">Learn how to wave your wand today!</h2>
                        <a href="#" class="btn btn-primary btn-custom-1 py-3 px-5 ml-auto">Get Started</a>
                    </div>
                </div>
            </div>
        </div>



 
